.header-container div.btn-menu-right {
	padding: 0px 20px !important;
    display: inline-block;
    position: relative;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-uppercase {
	text-transform: uppercase;
}
ul.menu-master {
	font-size: 1.5em;
}
ul.sub-menu-container li.item:hover, ul.sub-menu-container li.item.active {
	color: var(--sec-color) !important;
}
ul.sub-menu-container li.item.active a{
	margin: 0px 10px 0px 0px;
	color: var(--sec-color) !important;
}
ul.sub-menu-container li.item a:hover,
ul.sub-menu-container li.item.active a:hover,
ul.sub-menu-container li.item:hover {
	color: #3E3E4A !important;
	border: none !important;
}
.col-menu .menu-logo {
	height: auto !important;
}
.col-menu .menu-logo img {
	width: 50% !important;
	height: auto !important;
}
.menu-item .menu-icon {
	margin-left: 40px !important;
}
.menu-item .menu-text {
	padding: 0px 30px !important;
}
.table-clr thead td, .table-clr thead th {
	background-color: var(--main-color);
	padding: 10px !important;
}
.btn-container > .btn-action {
	padding: 4px 16px;
	font-size: .8em;
}
.mt-20 {
	margin-top: 20px;
}
.date-info {
	color: var(--main-color);
	font-weight: bold;
}
.label .title {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.content-container .col .col-filter {
	height: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn-filter {
	margin: 38px 0px;
    width: 100%;
    border-radius: 20px;
    text-transform: uppercase;
}
.clearfix {
	clear: both;
	display: block;
}
.btn-master-form {
	position: absolute;;
	bottom: 20%;
	right: 2%;
}

.flex-filter {
  display: flex;
  width: 100%;
}